@import ../variables

section.Skill_section
  display: grid
  place-items: center
  background: url('../../public/Markups/Backgrounds/light-mode-footer-background.svg')
  background-repeat: no-repeat
  background-size: 100%
  background-position: bottom
  min-height: 100vh
  .page_title
    font-size: 2rem
    margin: 0.5rem
    padding: 0.5rem 0.5rem
    border-bottom: 2px solid $color3
  .Skills
    display: grid
    position: relative
    grid-template-columns: 2fr 2fr 2fr
    grid-template-rows: 0.1fr 2fr
    grid-template-areas: "taskbar taskbar taskbar" "sidebar screen screen"
    min-height: 80vh
    width: 80%
    gap: 0px 0px
    margin: 1rem
    border-radius: 6px
    overflow: hidden
    box-shadow: 0 2px 6px $color3
    background: linear-gradient(135deg, rgba(#5ea4ff, 0.75 ) 0%,rgba(#5ea4ff,0.5) 10%, rgba(#ff66bf,0.5) 100%)
    backdrop-filter: blur(5px)
    &::before
      content: ''
      position: absolute
      height: 100%
      width: 100%
      top: 0
      left: 0
      background: linear-gradient(135deg, #5ea4ff ,#5ea4ff, #ff66bf)
      z-index: -1
      opacity: 0
      transition: $transition3
    .heading
      padding: 0.25rem 0.5rem
      grid-area: taskbar
      display: flex
      box-shadow: 0 1px 2px $color3
      align-items: center
      .dot_1, .dot_2, .dot_3
        height: 0.75rem
        width: 0.75rem
        margin: 0.125rem
        border-radius: 6px
        box-shadow: 0 0 2px rgba(#5ea4ff, 1)
        display: inline
      .dot_1
        background: $red
      .dot_2
        background: $yellow
      .dot_3
        background: $green
      .title
        flex: 1
        text-align: center
        font-size: 1rem
    .skills_checks
      grid-area: sidebar
      display: flex
      flex-direction: column
      box-shadow: 1px 2px 2px $color3
      *
        cursor: pointer
      .title
        cursor: default
        padding: 0.25rem 0.5rem
        margin: 1rem
        font-size: $font-sm
      label.formField
        position: relative
        display: flex
        align-items: baseline
        padding: 0
        margin: 3px 0
        font-size: 1rem
        user-select: none
        width: 100%
        background: linear-gradient(90deg, rgba(#ffa4dc, 0.75) 0%, rgba(#a0f5ee, 0.1) 50%, rgba(#a4b9ff, 0.125) 100%)
        background-size: 300%
        background-position: 100%
        transition: $transition5
        &::before //- border
          background: linear-gradient(90deg, rgba(#80ffff, 0.75) 0%, rgba(#ff85d0, 0.75) 50%, rgba(#616cff, 0.75)100%)
          background-size: 200%
          background-position: left
          content: ''
          position: absolute
          bottom: 0
          left: 0
          height: 3px
          width: 100%
          margin: 0
          padding: 0
          transform: translateY(3px)
          transition: $transition3
          z-index: -1
          opacity: 0
        &:hover::before
          opacity: 1
          background-position: right
        &:hover
          background-position: 0%
        input
          margin-left: 1rem
          padding: 0.5rem 0.125rem
        div
          display: inline
          width: fit-content
          white-space: nowrap
          padding: 0.5rem
    .screen
      grid-area: screen
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      .card
        height: 180px
        width: 90%
        margin-top: 1rem
        padding: 0.5rem
        border-radius: 4px
        background: rgba(#1bc5f8, 0.35)
        display: grid
        grid-template: 'avatar title''avatar heading''paragraph paragraph'
        grid-template-columns: 1fr 3fr
        grid-template-rows: .5fr .5fr 2fr
        transition: $transition3
        .avatar_skeleton
          place-self: center
          border-radius: 50%
          height: 3rem
          width: 3rem
          background: linear-gradient(90deg, rgba($grey, 0.5) 0%,rgba($grey, 0.5) 30%, rgba($grey, 1) 50%,rgba($grey, 0.5) 70%, rgba($grey, 0.5) 100%)
          background-size: 300%
          background-position: left center
          grid-area: avatar
          animation-name: loading-skeleton
          animation-duration: 2s
          animation-timing-function: linear
          animation-iteration-count: infinite
        .title_skeleton
          place-self: center start
          height: 1rem
          width: 50%
          background: linear-gradient(90deg, rgba($grey, 0.5) 0%,rgba($grey, 0.5) 30%, rgba($grey, 1) 50%,rgba($grey, 0.5) 70%, rgba($grey, 0.5) 100%)
          background-size: 300%
          background-position: left center
          grid-area: title
          animation-name: loading-skeleton
          animation-duration: 2s
          animation-timing-function: linear
          animation-iteration-count: infinite
        .heading_skeleton
          place-self: center start
          height: 1rem
          width: 90%
          background: linear-gradient(90deg, rgba($grey, 0.5) 0%,rgba($grey, 0.5) 30%, rgba($grey, 1) 50%,rgba($grey, 0.5) 70%, rgba($grey, 0.5) 100%)
          background-size: 300%
          background-position: left center
          grid-area: heading
          animation-name: loading-skeleton
          animation-duration: 2s
          animation-timing-function: linear
          animation-iteration-count: infinite
        .paragraph_skeleton
          place-self: center
          height: 80%
          width: 90%
          background: linear-gradient(90deg, rgba($grey, 0.5) 0%,rgba($grey, 0.5) 30%, rgba($grey, 1) 50%,rgba($grey, 0.5) 70%, rgba($grey, 0.5) 100%)
          background-size: 300%
          background-position: left center
          grid-area: paragraph
          animation-name: loading-skeleton
          animation-duration: 2s
          animation-timing-function: linear
          animation-iteration-count: infinite
        &:hover
          box-shadow: 0 2px 4px rgba(#16404e, 0.25)
          transform: translateY(-4px)
      .loader
        margin: 1rem
        height: 6rem
        width: 6rem
        background: transparent
        position: relative
        perspective: 200px
        .loading_square
          position: absolute
          top: 0
          left: 0
          height: 3rem
          width: 3rem
          background: #b3f5fd
          transform-style: preserve-3d
          animation-name: loader-loading
          animation-duration: 2s
          animation-timing-function: linear
          animation-iteration-count: infinite
          transform-origin: right bottom
          &:last-child
            animation-delay: 1s
            opacity: 0.75

@keyframes loading-skeleton
  0%
    background-position: 100%
  50%
    background-position: 50%
  100%
    background-position: 0%

@keyframes loader-loading
  0%
    transform: rotateX(0) rotateY(0)
  25%
    transform: rotateX(0) rotateY(180deg)
  50%
    transform: rotateX(180deg) rotateY(180deg)
  75%
    transform: rotateX(180deg) rotateY(0)
  100%
    transform: rotateX(0) rotateY(0)

@media screen and ( max-width: 640px )
  section.Skill_section
    height: fit-content
    .Skills
      width: 100%
      height: fit-content
      display: flex
      flex-direction: column
@media screen and ( max-width: 768px )
  section.Skill_section
    height: fit-content
    .Skills
      height: fit-content
      width: 100%
@media screen and ( min-height: 1024px )
  section.Skill_section
    height: fit-content
    .Skills
      height: fit-content

.normalise_loader
  height: 0 !important
  width: 0 !important
  div
    height: 0 !important
    width: 0 !important
.normalise_skeleton
  height: 0 !important
  margin: 0 !important
  padding: 0 !important
  *
    height: 0 !important
    margin: 0 !important
    padding: 0 !important
.normalise_glassmorphism
  // background: linear-gradient(135deg, rgba(#5ea4ff, 1 ) 0%,rgba(#5ea4ff,1) 10%, rgba(#ff66bf,1) 100%) !important
  &::before
    opacity: 1 !important
.normalise_grdntBrdr
  label
    &::before
      opacity: 0 !important
.normalise_grdntBckgrnd
  label
    background-position: right !important
