*
  margin: 0
  padding: 0
  color: #f3f3f3
  font-family: sans-serif
  box-sizing: border-box
body
  background-color: #002233
  div.background
    display: block
    position: fixed
    z-index: 1
    div.main
      div.left
        position: fixed
        z-index: 1
        background-image: url('../../assets/blob-left.svg')
        background-origin: bottom left
        background-size: cover
        height: 60vh
        width: 60vh
        bottom: 0
        left: 0
      div.right
        position: fixed
        z-index: 1
        background-image: url('../../assets/blob-right.svg')
        background-origin: top right
        background-size: cover
        height: 60vh
        width: 60vh
        top: 0
        right: 0

  main
    z-index: 10
    display: block
    position: relative
    header
      display: flex
      padding: 10px 5% 5px
      align-items: baseline
      justify-content: center
      -webkit-backdrop-filter: blur(4px)
      backdrop-filter: blur(4px)
      background: #00386577
      box-shadow: 0 4px 4px 4px #00386577
      white-space: nowrap
      z-index: 10
      span.logo-text
        font-size: 1.75rem
        flex: 1
      nav
        a
          font-size: 1.125rem
          margin: 0 0 0 5px
          padding: 2px
          border: 2px solid transparent
          transition: all 0.25s
          &:hover
            cursor: pointer
            border-bottom-color: #f3f3f3
    section
      height: 100vh
      padding: 0 5%
    section.section-1
      position: relative
      div.title
        position: absolute
        top: 30%
        transform: translateY(-30%)
        border: 1px solid transparent
        border-top: transparent
        border-right: transparent
        padding: 2% 2%
        &:hover
          background: linear-gradient(45deg, rgba(243,243,243,0.25) 0%, rgba(144,143,158,0.125) 55%, rgba(243,243,243,0) 100%)
          -webkit-backdrop-filter: blur(4px)
          backdrop-filter: blur(4px)
          border-color: #f3f3f3
        span
          margin: 2% 2%
          display: block
          white-space: nowrap
          &.mid
            font-size: 3rem
            text-transform: uppercase
          &.bottom
            font-size: 2rem
